<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Title</title>
</head>
<body>
	<h1>hello page</h1>
	<p th:text="'from parameter... id='  ${param.id[0] + ',name='+param.name[0]}"></p>
	<!--  
	<p th:text="${new java.util.Date().toString()}"></p>
	<p th:text="${#dates.format(new java.util.Date(),'dd/MMM/yyyy HH:mm')}"> </p>
	<p th:text="${#numbers.formatInteger(1234,7)}"></p>
	<p th:text="${#strings.toUpperCase('werlcome to spring')}"></p> -->
</body>
<!--
	<body>
		<h1>Hello pagpe</h1>
		<pre th:text= "${msg}">please wait... </pre>
		<form method = "post" action = "/">
			<div>
			<input type = "checkbox" id = "check1" name="check1"/>
			<label for = "check1">체크</label>
			</div>
			
			<div>
			<input type = "radio" id = "radioA" name="radio1" value = "male"/>
			<label for = "radioA">남성</label>
			</div>
			
			<div>
			<input type = "radio" id = "radioB" name="radio1" value = "female"/>
			<label for = "radioA">여성</label>
			</div>
			<div>
			<select id = "select1" name ="select1" size = "4">
				<option value = "Android">Mac</option>
				<option value = "Android">Linux</option>
				<optionx` value = "Android">Windows</option>
				
			</select>			
			<select id = "select2" name ="select2" size = "4" multiple = "multiple">
				<option value = "Android">Android</option>
				<option value = "Android">iphone</option>
				<option value = "Android">Windows</option>
				
			</select>	
			</div>
			<input type="submit" value="Click"/>
		</form>
	</body>


-->
	<!--
	<body>
		<h1>Hello page</h1>
		<p th:text = "${msg}">please wait...</p>
		<form method = "post" action = "/">
			<input type = "text" name = "text1" th:value = "${value}"/>
			<input type = "submit" value = "Click" />
		</form>
		
	</body>
<!--
th:value 를 볼경우 $value값을 입력 필드에 표시하고 있다.

<form ~~"/"> 형태로 폼을 설정하고 있다. 전송 대상은 "/" 이고 Post 방식을 사용하고 있다


-->




<!--
<body>

<h1>Helo page</h1>
<p class = "msg" th:text="${msg}"></p>

-->
 <!-- 
 <h1>Hello World</h1>

 <!-- OGNL --> <!-- 
 <p th:text="${new java.util.Date().toString()}"></p>

 <!-- utility object --> <!-- 
 <p th:text="${#dates.format(new java.util.Date(), 'yyyy-MM-dd HH:mm')}"></p>
 <p th:text="${#numbers.formatInteger(123,5)}"></p>
 <p th:text="${#strings.toUpperCase('Welcome to Spring Boot')}"></p>

 <!-- parameter --> <!-- 
 <p th:text="'id0=' + ${param.id[0]} + ', id1=' +${param.id[1]}"></p>
</body>-->


</html> 